/* Website icon provided by berkahicon via flaticon.com */
/*          OVERALL, BACKGROUND STYLING         */
.App {
    position: fixed;
    top: 0;
    left: 0;
    height: 100rem;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(#B7094C, #A01A58, #892B64, #723C70, #5C4D7D, #455E89, #2E6F95, #1780A1, #0091AD);
    overflow: scroll;
    box-sizing: border-box;
}
/*          NAVBAR STYLING          */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 7%;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
}
.navTitle {
    margin: 1%;
    font-size: 3vh;
}
.navLinks {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
}
.navButton {
    margin: 0 5px 0 5px;
    padding: 4px;
    color: white;
    background-color: inherit;
    border: none;
    transition: padding .45s ease-out;
}
.navButton:focus {
    background-color: inherit;
    color: inherit;
    border: none;
}
.navButton:hover {
    padding: 5px 17px;
    background-color: white;
    color: black;
    transition: .45s;
}
/*          INDEX PAGE STYLING            */
.iDisplay {
    height: 100%;
    width: 100vw;
    padding-top: 7vh;
    display: flex;
    flex-wrap: wrap;
}
.recipeCard {
    min-height: 30vh;
    max-height: 35vh;
    width: 24%;
    border: 1px solid #f8c8e2;
    border-radius: 5px;
    margin: 10px auto;
}
.recipeCard:hover {
    background-color: rgba(0, 0, 0, .4);
    border: 1px solid #3C1053FF;
    transition: .4s;
}
.recipeCardTitle {
    min-height: 10%;
    max-height: 15%;
    font-size: 1.5vw;
    color: #8BBEE8FF;
}
.recipeCard p {
    color: #FFFDD0;
    margin-top: 20px;
    font-size: 1vw;
}
.recipeCard img {
    min-height: 50%;
    max-height: 50%;
    width: 55%;
    margin: 15px auto 0 auto;
    border: .5px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    box-shadow: 0 0 1px white;
}
.recipeCard:hover img {
    box-shadow: 0 0 3px white;
}
/*          SHOW PAGE STYLING           */
.sDisplay {
    height: 100%;
    width: 100%;
    padding-top: 4%;
}
.singleRecipe {
    height: 55rem;
    width: 90%;
    margin: 5% auto;
    display: flex;
    border: 1px solid #f8c8e2;
    border-radius: 5px;
}
.cardLeft {
    color: #8BBEE8FF;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.cardLeft img {
    height: 55%;
    width: 65%;
    border-radius: 5%;
}
.vr {
    border-left: 1px solid rgba(0, 0, 0, .3);
    height: 95%;
    margin: auto;
}
.cardRight {
    width: 50%;
    padding-left: 15px;
    color: rgb(205, 139, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rInfo a {
    color: #FFFDD0;
}
.cardRight a:visited {
    color: #FFFDD0;
}
.rInfo {
    height: 80%;
    padding-top: 7%;
    padding-bottom: 2%;
    display: flex;
}
.rInfo li, ul {
    color: #FFFDD0;
}
.rInstructions {
    width: 50%;
    overflow: auto;
}
.rInstructionsTitle {
    font-size: 3vh;
}
.rIngredients {
    width: 50%;
    padding-left: 15px;
    overflow: auto;
}
.rIngredientsTitle {
    font-size: 3vh;
}
.reference {
    color: #D1FFEA;
}
.rButtons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.rButtons button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #f8c8e2;
}
.rButtons button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    transition: .4s;
    border: 1px solid #0091AD;
}
/*          FORM STYLING            */
.fDisplay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
    margin-top: 9vh;
}
.fDisplay img {
    height: auto;
    max-width: 20vw;
    margin-bottom: 3%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .7);
}
form {
    width: 80%;
    margin: auto;
}
::placeholder {
    color: rgba(255, 255, 255, .8);
}
#submit {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #f8c8e2;
}
#submit:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    transition: .4s;
    border: 1px solid #0091AD;
}
/*          MODAL STYLING           */
.modal-bg {
    background-color: rgba(0, 0, 0, .85);
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 1000%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}
.modalBox {
    height: 50rem;
    width: 60%;
    margin: 10% auto;
    background-image: linear-gradient(#455E89, #2E6F95, #1780A1, #0091AD);
    box-shadow: 0 0 6px #892B64;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
}
.modalBox h2 {
    color: rgb(205, 139, 221);
    margin-top: 2%;
}
.modalBox h3 {
    color: #FFFDD0;
}
.modalBox img {
    height: 50%;
    width: 45%;
    margin: 15px auto;
    border: .5px solid rgba(0, 0, 0, .6);
    border-radius: 5%;
    border-radius: 5px;
    box-shadow: 0 0 1px white;
}
.modalButtons {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.modalButtons button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #f8c8e2;
}
.modalButtons button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    transition: .4s;
    border: 1px solid #892B64;
}

/*          MOBILE RESPONSIVE STYLING           */
/* Responsive design for screens smaller than a tablet  */
@media (max-width: 767px) {
    /*          NAVBAR STYLING          */
    .navbar {
        width: 100vw;
        justify-content: space-between;
    }
    .navTitle {
        width: 30vw;
        align-self: center;
        font-size: 1vh;
    }
    .navLinks {
        width: 45vw;
    }
    .navButton {
        max-width: 20vw;
        margin: auto;
        font-size: .75vh;
    }
    .navButton:hover {
        background-color: inherit;
        color: inherit;
}
    /*          INDEX STYLING           */
    .recipeCard {
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .recipeCardTitle {
        width: 100%;
        font-size: 1vh;
        margin: 1vh 0 0 0;
    }
    .recipeCard img {
        min-height: 10vh;
        max-height: vh;
        width: 70%;
        margin: 5% 0;
    }
    .recipeCard p {
        display: none;
    }
    /*          SHOW STYLING            */
    .singleRecipe {
        margin-top: 7vh;
        flex-direction: column;
    }
    .cardLeft {
        width: 100%;
    }
    .cardLeftTitle {
        margin: 1vh 0;
        font-size: 5vw;
    }
    .cardLeft img {
        height: auto;
        width: 60vw;
    }
    .vr {
        display: none;
    }
    .cardRight {
        height: 60%;
        width: 95%;
    }
    .rInstructionsTitle{
        font-size: 1.75vh;
    }
    .rIngredientsTitle{
        font-size: 1.75vh;
    }
    /*          FORM STYLING            */
    .fDisplay img {
        height: auto;
        max-width: 80vw;
    }
    .rInfo li, ul {
        font-size: 1vh;
    }
}