/*          OVERALL, BACKGROUND STYLING         */
.App {
    position: fixed;
    top: 0;
    left: 0;
    height: 100rem;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(#B7094C, #A01A58, #892B64, #723C70, #5C4D7D, #455E89, #2E6F95, #1780A1, #0091AD);
    overflow: scroll;
    box-sizing: border-box;
}
/*          NAVBAR STYLING          */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 7%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
}
.navTitle {
    margin: 1%;
    font-size: x-large;
}
.navLinks {
    display: flex;
    justify-content: space-between;
    margin: 1%;
}
.navLinks button {
    margin: 0 5px 0 5px;
    background-color: inherit;
    border: none;
}
.navLinks button:focus {
    background-color: inherit;
    border: none;
}
.navLinks button:hover {
    background-color: white;
    color: black;
    transition: .4s;
}
/*          INDEX PAGE STYLING            */
.iDisplay {
    height: 100%;
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
}
.recipeCard {
    height: 30rem;
    width: 24%;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
    margin: 10px auto;
}
.recipeCard:hover {
    background-color: rgba(0, 0, 0, .6);
    border: 1px solid rgba(255, 255, 255, .7);
    transition: .3s;
    cursor: pointer;
}
.recipeCard h3 {
    color: rgb(205, 139, 221);
}
.recipeCard p {
    color: #8BBEE8FF;
    margin-top: 20px;
}
.recipeCard img {
    height: 50%;
    width: 55%;
    margin: 15px auto;
    border: .5px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    box-shadow: 0 0 1px white;
}
.recipeCard:hover img {
    box-shadow: 0 0 3px white;
}
/*          SHOW PAGE STYLING           */
.sDisplay {
    height: 100%;
    width: 100%;
    padding-top: 4%;
}
.singleRecipe {
    height: 55rem;
    width: 90%;
    margin: 5% auto;
    display: flex;
    border: 1px solid #f8c8e2;
    border-radius: 5px;
}
.cardLeft {
    color: #8BBEE8FF;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.cardLeft img {
    height: 55%;
    width: 65%;
    border-radius: 5%;
}
.vr {
    border-left: 1px solid rgba(0, 0, 0, .3);
    height: 95%;
    margin: auto;
}
.cardRight {
    width: 50%;
    padding-left: 15px;
    color: rgb(205, 139, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rInfo {
    height: 80%;
    padding-top: 9%;
    display: flex;
}
.rInfo li, ul {
    color: #FFFDD0;
}
.rInstructions {
    width: 50%;
}
.rIngredients {
    width: 50%;
    padding-left: 15px;
}
.reference {
    color: #D1FFEA;
}
.rButtons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.rButtons button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #f8c8e2;
}
.rButtons button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    transition: .4s;
    border: 1px solid #0091AD;
}
/*          FORM STYLING            */
.fDisplay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
    margin-top: 7%;
}
.fDisplay img {
    height: auto;
    width: 15%;
    margin-bottom: 3%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .7);
}
form {
    width: 80%;
    margin: auto;
}
::placeholder {
    color: rgba(255, 255, 255, .8);
}
#submit {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #f8c8e2;
}
#submit:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    transition: .4s;
    border: 1px solid #0091AD;
}
/*          MODAL STYLING           */
.modal-bg {
    background-color: rgba(0, 0, 0, .85);
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 1000%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}
.modalBox {
    height: 50rem;
    width: 60%;
    margin: 10% auto;
    background-color: #DF6589FF;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}
.modalBox h2 {
    color: #FCF951FF;
    margin-top: 2%;
}
.modalBox h3 {
    color: #3C1053FF;
}
.modalBox img {
    height: 50%;
    width: 45%;
    margin: 15px auto;
    border: .5px solid rgba(0, 0, 0, .6);
    border-radius: 5%;
    border-radius: 5px;
    box-shadow: 0 0 1px white;
}
.modalButtons {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.modalButtons button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #f8c8e2;
}
.modalButtons button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    transition: .4s;
    border: 1px solid #FCF951FF;
}